[Unit]
Description=SNIff

[Service]
ExecStart=/home/pi/go/bin/sniff
WorkingDirectory=/opt/sniff
User=sniff
Group=sniff
PIDFile=/opt/sniff/sniff.pid

; Need to run `sudo systemctl enable sniff.service` for this to take effect
[Install]
WantedBy=multi-user.target
